/*  CSS Variables */
:root {
  --bg-color: #f4f4f9;
  --text-color: #2b2d42;
  --main-heading-color: #ef233c;
  --subheading-color: #8d99ae;
  --cta-btn-color: #3d5a80;
  --cta-btn-hover-color: #98c1d9;
  --project-btn-color: #ee6c4d;
  --project-btn-hover-color: #fa9e77;
  --navbar-hover-color: #2b2d42;
  --main-heading-font: "Poppins", sans-serif;
  --main-heading-font-weight: 700;
  --main-heading-font-size: 48px;
  --subheading-font: "Lora", serif;
  --subheading-font-weight: 500;
  --subheading-font-size: 24px;
  --paragraph-text-font: "Inter", sans-serif;
  --paragraph-text-font-weight: 400;
  --paragraph-text-font-size: 16px;
  --btn-font: "Roboto", sans-serif;
  --btn-font-weight: 500;
  --btn-font-size: 14px;
}

/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}
